"*":
  "atom-beautify":
    general:
      _analyticsUserId: "2da4ec7b-b04d-4722-879d-045dbfd6b9a1"
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "project-folder"
      "lisp-paredit"
    ]
    themes: [
      "one-light-ui"
      "flatwhite-syntax"
    ]
  editor:
    fontFamily: "Consolas"
    fontSize: 17
  "exception-reporting":
    userId: "1937c00e-1002-843e-7a1b-2cb344feab24"
  "file-icons":
    coloured: false
  "flatwhite-syntax":
    ebmedded: "Full"
  "highlight-selected":
    highlightBackground: true
    lightTheme: true
  "lisp-paredit": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
