# apm install package-sync
# M-x package-sync:sync
'packages': [
  'package-sync'
  'Ensime'
  'flatwhite-syntax'
  'git-plus'
  'run-in-atom'
  'jquery-ui/autocomplete'
  'atom-beautify'
]
